.change{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
  }
.menu-bar{
    width: 20%;
    height: 100%;
    background-color: #F8F8F8;

}
.logo-small{
    width: 80%;
    height: 79px;
    background-image: url('./images/logo-small.png');
    margin-left: 50px;
}
.menu{
    margin-left: 24px;
    width: 82%;
    height: 740px;
}
.dashboard{
    position: relative;
    width: 100%;
    height: 52px;
    background-color: #4787A2;
    border-radius: 8px;
    
}
.dash-img{
    position: absolute;
    top: 12px;
    width: 198px;
    height: 28px;
    background-image: url('./images/dashboard.png');
    left: 24px;
}
.end{
    width: 100%;
    height: 56px;
    background-image: url('./images/end.png');
}
.pr{
    width: 100%;
    height: auto;
}
.content1{
    width: 80%;
    height: 100%;
}
.top-main{
    margin-top: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-left{
    list-style-type: none;
}
.menu-left li{
    display: inline;
    padding: 0 20px;
}
.pr{
    margin-left: 60px;
}
.aa{
    color: #676879;
}
.menu-right{
    list-style-type: none;
}
.menu-right li{
    display: inline;
    padding: 0 20px;
}
.fas , .far{
    cursor: pointer;
}
.main-container{
    margin-top: 30px;
    margin-left: 24px;
    width: 1112px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    
}
.main-container button{
    width: 200px;
    height: 100%;
    margin-left: 50px;
    cursor: pointer;
}
.main-container button:hover{
    background-color: #4787A2;
    transition: 1s;
    color: white;
}
.info1-container{
    margin-top: 20px;
    margin-left: 72px;
    width: 100%;
    height: 537px;
    display: none;
}
.info1-container p{
    margin-top: 30px;
}
.button-save{
    width: 145px;
    height: 40px;
}
.button-update{
    width: 80px;
    height: 40px;
    background-color: #4787A2;
    color: white;
}
.info1-container p{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 15px;
    color: #474D66;
    font-weight: bold;
}
.info2-container{
    margin-top: 20px;
    margin-left: 72px;
    width: 100%;
    height: 537px;
    display: none;
}
.info3-container{
    margin-top: 20px;
    margin-left: 72px;
    width: 100%;
    height: 537px;
    display: none;
}
.current{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 1rem;
}
.in-pass {
    font-family: 'Source Sans Pro', sans-serif;
    width: 262px;
    height: 36px;
    margin-top: 10px;
    padding: 10px 12px;
    border: 1px solid #D8DAE5;
    box-sizing: border-box;
    border-radius: 8px;
    color: #8F95B2;
}
.re-pass {
    font-family: 'Source Sans Pro', sans-serif;
    width: 262px;
    height: 36px;
    margin-top: 10px;
    padding: 10px 12px;
    border: 1px solid #D8DAE5;
    box-sizing: border-box;
    border-radius: 8px;
    color: #8F95B2;
}
#aa ,#ab{
    color: #8F919A;
}
#ab:hover{
    color: #4787A2;
}
#aa:hover{
    color: #4787A2;
}
#aa:hover{
    text-decoration: none;
}
.offcanvas-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
}
.fade {
    transition: opacity .15s linear;
}
.offcanvas.show {
    transform: none;
}
.offcanvas-end {
    top: 0;
    right: 0;
    width: 400px;
    border-left: 1px solid rgba(0,0,0,.2);
    transform: translateX(100%);
}
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #fff;
    outline: 0;
    transition: transform .3s ease-in-out;
}
.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.offcanvas-title {
    margin-bottom: 0;
    line-height: 1.5;
}

.offcanvas-header .btn-close {
    padding: 0.5rem;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em;
    color: #000;
    background-image: url('./images/x-mark.png');
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

.note-change{
    margin-top: 50px;
    width: 100%;
    height: 173px;
    background-color: #F8F8F8;
    border-radius: 8px;
}
.list-change li a{
    text-decoration: none;
    color: #4787A2;
}
.hienThi{
    display: block;
}
.icon-menu{
    color: #8F919A;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
}
.icon {
    color: #8F919A;
    background-color: #F8F8F8;
    margin-left: 27px;
}
.in-vn {
    padding: 0 10px;
    background-color: #E6E8F0;
}
.in-jp {
    padding: 0 10px;
    background-color: #E6E8F0;
}
.in-vn:hover{
    background-color: white;
}
.in-jp:hover{
    background-color: white;
}
.list li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
table {
    width: 1064px;
    height: 384px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    border: 1px solid #E6E8F0;
}
.d1{
    font-weight: bold;
    background: #F8F8F8;

}
.d11{
    font-weight: bold;
    background: #F8F8F8;
    text-align: center;

}
table tr td{
    padding: 0 20px;
}
tr:nth-child(odd) {
    background-color: #F9FAFA;
}
.td{
    text-align: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #4787A2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #4787A2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .accordion-item{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
  }
  .accordion-item{
    width: 100%;
   
  }
  .accordion-item button{
      width: 100%;
      height: 60px;
      border: none;
      background-color: #F8F8F8;
      text-align: left;
      color: #8F919A;
  }
  .accordion-item button:hover{
      background-color: #4787A2;
      color: white;
      border-radius: 8px;
  }
  .accordion-item button:hover i{
      color: white;
      background-color: #4787A2;
  }
  .accordion-item i{
      margin: 10px 10px;
  }
  .accordion-header{
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .accordion-body{
      color: #8F919A;
      margin-left: 50px;
      line-height: 50px;
  }
  .accordion-body:hover{
      color: #4787A2;
      cursor: pointer;
  }
  .icn{
    position: absolute;
    right: 20px;
  }
  .infor4{
    margin-top: 20px;
    margin-left: 72px;
    display: none;
  }
  .pd{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .ind{
      margin-left: 20px;
  }
  .department{
      width: 85%;
      margin-left: 20px;
      height: 40px;
      border-radius: 8px;
      border: 1px solid #ccc;
  }
  .check{
      margin-left: 20px;
      margin-top: 50px;
      width: 85%;
      height: 252px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(16, 24, 64, 0.08);
  }
  .custom-checkbox{
      margin-top: 10px;
      margin-left: 10px;
  }
  .ae{
      width: 20px;
      height: 20px;
  }
  .insea{
      margin-top: 10px;
      margin-left: 15px;
      margin-bottom: 10px;
      width: 90%;
      
  }
  .row{
      margin-left: 20px;
      border-radius: 8px;
  }
  .r1{
      background-color: #F8F8F8;
      margin-left: 0;
      width: 100%;
  }
  .but{
      margin-left: 20px;
      margin-top: 20px;
      width: 20%;
      height: 50px;
  }
  