
.content-reset{
    position: absolute;
    width: 340px;
    height: 300px;
    margin: 40px 70px;
}
p{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 20px;
}
input{
    border: 1px solid #D8DAE5;
    box-sizing: border-box;
    width: 338px;
    height: 40px;
    border-radius: 8px;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
}
.buttons{
    margin-top: 56px;
    width: 100%;
    height: 40px;
}
button{
    width: 159px;
    height: 100%;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    border-radius: 4px;
}
.button-submit{
    margin-left: 20px;
    background-color: #4B91AF;
    color: white;
}
.button-cancel{
    color: black;
}