
  .regis{
    position: absolute;
    top: 58px;
    left: 487px;
    width: 466px;
    height: 613px;
    background-color: #ffffff;
    box-shadow: 0px 12px 40px rgba(16, 24, 64, 0.24);
    border-radius: 8px;
  }

.create-pas {
    height: 72px;
    background-color: #F8F8F8;
    font-size: 24px;
    color: #4B91AF;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.in-pas {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: 40px;
    margin-top: 32px;
    padding: 10px 12px;
    border: 1px solid #D8DAE5;
    box-sizing: border-box;
    border-radius: 8px;
    color: #8F95B2;
}
.note{
    height: 173px;
    background-color: #F8F8F8;
    margin-top: 32px;
}
.button-save{
    width: 338px;
    height: 40px;
    background-color: #4B91AF;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin-top: 32px;
  }
.text-mus{
    color: #474D66;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    height: 50px;
    width: 314px;
    box-shadow: inset 0px -1px 0px #D8DAE5;
    margin: 0px 12px;
    font-weight: bold;
}
.list1 li a{
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #474D66;
}
.icon{
    width: 16px;
    height: 14px;
    background-color: red;
}